body {
    font: 15px/1.5 Montserrat, Nunito Sans, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #ffffff;
}
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
ul{
    margin: 0;
    padding: 0;
}
header{
    min-height: 500px;
    background-image: url("../img/laptop1.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    padding-top: 2%;
    padding-bottom: 10%;
}
nav {
     float: right;
}
header a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
}
header li {
    float: left;
    display: inline;
    padding: 10px 20px 0 20px;
}
header a:hover{
    color: #10c9c3;
}
#present{
    float: right;
    text-align: left;
    width: 45%;
    margin-bottom: 60px;
    margin-top: 220px;
}
#present p{
    color: grey;
}
.button1{
    margin-top: 20px;
    background-color: #10c9c3;
    padding: 15px 15px;
    border: solid 1px #10c9c3;
}
.button1 a{
    color: #fff;
}
.button1 a:hover{
    color: black;
}